@import "./global";
@import "./header";
@import "./fonts";
// HERO
.hero {
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 13.2rem;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  .hero__title {
    font-family: "Arial", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 8.8rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 1.5rem;
  }
  .hero__description {
    /* Headline 6 */
    color: rgb(80, 79, 79);
    font-family: "Arial", sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 3.2rem;
  }
  .hero__pic {
    margin-top: 7rem;
  }
}
.hero__top {
  background-color: #fff;
  width: 856px;
  border-radius: 12px 12px 0 0;
  padding: 2.4rem;
  display: flex;
  align-items: center;
  gap: 8px;
  /* Theme/Gray 200 */
  border-bottom: 1px solid rgb(238, 238, 238);
  .delivery__btn1 {
    display: flex;
    gap: 1rem;
    align-items: center;
    border-radius: 8px;
    background: rgba(241, 114, 40, 0.1);
    padding: 1rem 2.4rem;

    h4 {
      /* Button Bold */
      color: rgb(241, 114, 40);
      font-size: 18px;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: 0%;
      font-family: "Arial", sans-serif;
    }
    .fa-motorcycle {
      color: rgb(241, 114, 40);
      font-size: 18px;
      font-weight: 900;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }
  .delivery__btn2 {
    @extend .delivery__btn1;
    background: transparent;

    h4 {
      /* Button Bold */
      color: rgb(117, 117, 117);
      font-size: 18px;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: 0%;
    }
    .fa-bag-shopping {
      color: rgb(117, 117, 117);
      font-size: 18px;
      font-weight: 900;
      line-height: 100%;
    }
  }
}
.hero__bottom {
  background-color: white;
  border-radius: 0 0 12px 12px;
  padding: 2.4rem 2.7rem 2.4rem 2.4rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  .form__search {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    flex-grow: 1;
  }
  .form__wrap {
    border-radius: 8px;
    background: rgb(245, 245, 245);
    padding: 7px 0 8px 16px;
    width: 100%;
    input {
      background: rgb(245, 245, 245);
      color: rgb(36, 12, 12);
      font-size: 18px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0%;
    }
    ::placeholder {
      background: rgb(245, 245, 245);
      color: rgb(158, 158, 158);
      font-size: 18px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0%;
    }
    .fa-location-dot {
      color: rgb(255, 116, 116);
      font-size: 24px;
      font-weight: 900;
      line-height: 140%;
      letter-spacing: 0%;
    }
  }
  .form__btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2.1rem 4.8rem;
    border-radius: 8px;
    background: linear-gradient(
      137.67deg,
      rgb(255, 122, 122) -39.641%,
      rgb(247, 89, 0) 135.314%
    );
    cursor: pointer;
    span {
      color: rgb(255, 255, 255);
      font-size: 18px;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: 0%;
    }
    .fa-magnifying-glass {
      color: rgb(255, 255, 255);
      font-size: 14px;
      font-weight: 900;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }
}
.foods {
  padding-top: 7.5rem;
  padding-bottom: 8.8rem;
  .foods__container {
    display: flex;
    gap: 1.5rem;
  }
  .foods__box {
    .foods__pic {
      margin-bottom: 3.2rem;
    }
    .foods__title {
      color: rgb(66, 66, 66);
      font-size: 22px;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0%;
      margin-bottom: 2.2rem;
    }
    .foods__text {
      border-radius: 8px;
      background: rgba(241, 114, 40, 0.2);
      color: rgb(241, 114, 40);
      font-size: 22px;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0%;
      padding: 8px 16px;
      display: inline;
    }
  }
}
